<div class="row justify-content-center">
  <div class="col-sm-12 col-lg-6 col-xl-5">
    <div class='shadow-sm auth-form'>
  <h2 class="text-center">Зарегистрироваться</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> минимум символов)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
  </div>
      <%= f.submit 'Зарегистрироваться', class: 'btn auth-btn-primary' %>
<% end %>
    <div class="form-actions">
      <%= render "devise/shared/links" %>
    </div>
</div>
</div>
</div>